body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: white;
}

 nav ul{
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: cursive;
}
a:hover{
    color: gold;
    border-radius: 8px;
    font-family: cursive;
}
a:active{
  color: rgba(255, 255, 255, 0.562);
}

.about{
   height: 600px;
}

nav li{
    display: inline;
    padding: 20px;
}

h2{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    left: 10%;
    top: 40%;    
}

.b{
    color: gold;
}

.a{
    transition: 2s ease-in-out;
    transform: rotate(360deg);
    font-size: 70px;
}

.c{
    font-size: 15px;
}

.pic{
    height: 80%;
    position: absolute;
    right: 0;
    top: 20%;
    transition: ease-in-out alternate;
    }
    
.pic:hover{
    transition: 1s ease-in-out;
    transform: translateX(-10px);
    }

h1{
    font-size: 42px;
    font-family: sans-serif;
    text-decoration: underline white;
    color: gold;
}

.d{
    color: gold;
}

.know{
   height: 650px;
}

p{
    font-size: 25px;
    display:inline;
    float: right;
    margin-right: 90px;
    width: 51%;
}

.pic2{
    display: inline;
    float: left;
    margin-left: 90px;
    height: 500px;
    border-radius: 10%;
    width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.pic2:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.works ol{
    padding: 10px;
    width: 60%;
    margin-left: 20%;
}

ol li{
    font-size: 25px;
    margin: 8px;
}

.foot{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-right: 23%;
}